$primaryColor: #eeeeee;
$secondaryColor: #ccc;

$black: #000000;
$white: #FFFFFF;

$squareColor1: #fde9d9;
$squareColor2: #fabf8f;
$squareColor3: #e36c0a;
$squareColorT: #c00000;
$squareHover: #868383;
$squareChosen: #ddbfbf;
$squareDefaultColor: $squareColor1;

$background: #16113a;
$panelBg: #272953;
