@import '../../../styles/modules/variables';
@import '../../../styles/modules/forms';

.board {
  width: 275px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  @extend %panel-style;
  
  .row {
    display: flex;
  }

  .locked {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 37px;
    color: $white;
  }
}
